h6{
    margin-bottom: 20px;
}
.d-flex-column{
    max-width: 200px;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
    margin: 0 5px 10px 5px;
    font-size: 14px;
}

a:hover{
    text-decoration: underline;
}