
.accordion-header{
    padding: 0px;
    margin: 0px;
}
.accordion h2{
    padding: 0px;
    margin: 0px;
}
.accordion-button {
    padding: 10px;
    border: none;
}
.accordion-item{
    border: none;   
}

i{
    margin: 5px;
}