.d-felx{
    justify-content: space-around;
}


.box{    
    border: 1px solid #fafafa;
    font-size: 14px;
}
a{
    text-decoration: none;
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-decoration: none;
    background: #fafafa;
    min-height: 120px;
    width: 150px;
    margin: 3px ;

}

.mat-icon{
    font-size: 50px;
    color: #ae285e;
    margin-right: 20px;
}
span{
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    color: black;
    text-decoration: none;
}

a:hover{
    background-color: #ae285e;
}
a:hover .mat-icon{
    color: white;
}
a:hover span{
    color: white;
}

.link{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: 2px solid #eceaeb;
}

.btn-link{
    color: #ae285e;
}

h6{
    margin-bottom: 20px;
}
