<div class="d-flex-column mx-3">
  <h5><strong>Plan smarter,</strong> stay ahead</h5>
  <h6>Calculate and plan</h6>
  <div class="d-flex">
    <a href="javascriptvoid(0)" class="box ">
      <span><mat-icon> bar_chart</mat-icon></span>
      <span>SIP Calculator</span>
    </a>

    <a href="javascriptvoid(0)" class="box">
      <span><mat-icon> attach_money</mat-icon></span>
      <span>FD Calculator</span>
    </a>
  </div>
  <div class="d-flex">
    <a href="javascriptvoid(0)" class="box">
        <span> <mat-icon> monetization_on</mat-icon></span>
      <span>Personal Laon Calculator</span>
    </a>

    <a href="javascriptvoid(0)" class="box">
        <span> <mat-icon>airport_shuttle</mat-icon></span>
      <span>Car Loan Calculator</span>
    </a>
  </div>

  <div class="d-flex">
    <a href="javascriptvoid(0)" class="box">
        <span> <mat-icon>home</mat-icon></span>
      <span>Home Loan Calculator</span>
    </a>

    <a href="javascriptvoid(0)" class="box">
        <span> <mat-icon>account_balance</mat-icon></span>
      <span>Foreign Exchange </span>
    </a>
  </div>
</div>
<div class="link">
    <button type="button" class="btn btn-link" href="javascriptvoid(0)">view all</button>
</div>



<!-- <mat-icon>add_shopping_cart</mat-icon>
<mat-icon>camera_enhance</mat-icon>
<mat-icon>equalizer</mat-icon>
<mat-icon>drive_eta</mat-icon> -->
