<h5 class="border-bottom border-2 border-gray pb-3">Radio Button</h5>
<div class="d-flex flex-wrap align-content-around justify-content-between my-3">
    <div class="d-flex-column">
        <div>
            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value=""
                aria-label="..."disabled>
        </div>

        <div>
            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value=""
                aria-label="..." checked>
        </div>
    </div>

    <div class="d-flex-column">
        <div>
            <input class="form-check-input square rounded" type="radio" name="radioNoLabel" id="radioNoLabel1" value=""
                aria-label="..." disabled>
        </div>

        <div>
            <input class="form-check-input square rounded" type="radio" name="radioNoLabel" id="radioNoLabel1" value=""
                aria-label="..." checked>
        </div>
    </div>

    <!-- ------------------------------------Default- Radio Buttons----------------------------- -->
    <div class="d-flex-column">
        <div class="form-check">
            <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefaul1" checked>
            <label class="form-check-label" for="flexRadioDefaul1">
                Default radio
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input square square rounded" type="radio" name="flexRadioDefault"
                id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Default radio
            </label>
        </div>

    </div>

    <!-- ----------------------------------Default Checked ---------------------------- -->
    <div class="d-flex-column">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
            <label class="form-check-label" for="flexRadioDefault4">
                Default checked radio
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input square square rounded" type="radio" name="flexRadioDefault"
                id="flexRadioDefault3" checked>
            <label class="form-check-label" for="flexRadioDefault3">
                Default checked radio
            </label>
        </div>
    </div>

    <!-- -------------------Disabled-Radio-Button------------- -->
    <div class="d-flex-column">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
            <label class="form-check-label" for="flexRadioDisabled">
                Disabled radio
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input square square rounded" type="radio" name="flexRadioDisabled"
                id="flexRadioDisabled" disabled>
            <label class="form-check-label" for="flexRadioDisabled">
                Disabled radio
            </label>
        </div>
    </div>

    <div class="d-flex-column">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled" checked
                disabled>
            <label class="form-check-label" for="flexRadioCheckedDisabled">
                Disabled checked radio
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input square square rounded" type="radio" name="flexRadioDisabled1"
                id="flexRadioCheckedDisabled" checked disabled>
            <label class="form-check-label" for="flexRadioCheckedDisabled1">
                Disabled checked radio
            </label>
        </div>
    </div>
</div>