<div class="d-flex-column">
    <h6><strong>LINKS</strong> </h6>
    <a href="javascriptvoid(0)">Find your Nearest Branch</a>
    <a href="javascriptvoid(0)">Axis Bank Customer Support</a>
    <a href="javascriptvoid(0)">Banking Ombudsman Scheme, 2006</a>
    <a href="javascriptvoid(0)">Comprehensive Notice Board</a>
    <a href="javascriptvoid(0)">Aadhaar Enrolment Centres</a>
    <a href="javascriptvoid(0)">Aadhaar Enrolment Centres</a>
    <a href="javascriptvoid(0)">Axis Bank Customer Support</a>
    <a href="javascriptvoid(0)">CDSL/NSDL Investor Grievance Escalation Matrix</a>
    <a href="javascriptvoid(0)">Beneficial Owner FAQ</a>
 

  </div>
