<!-- -----------------------------Text Area---------------------- -->
<div class="d-flex-column flex-wrap border-bottom border-2 border-gray pb-4 px-4 me-5 mt-4">
    <h6 class="input">  Input + Title + Icon</h6>

<!--------------------------------Default---------------------------->
    <div class="d-flex flex-wrap">
    <div class="d-flex-column text-area">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <div class="d-flex">
        <div class="form form-floating">
          <input
            type="email"
            class="form-control form-input"
            id="floatingInputValue"
            placeholder="Text"
            value="Text"
          />
          <label for="floatingInputValue">Title</label>
          <span><i class="fa fa-microphone"></i></span>
        </div>
      </div>
    </div>

    <!--------------------------------Disabled---------------------------->
    <div class="d-flex-column text-area">
      <label for="exampleFormControlTextarea1" class="form-label">Disabled</label>
      <div class="d-flex">
        <div class="form form-floating">
          <input
            type="email"
            class="form-control form-input"
            id="floatingInputValue"
            placeholder="Text"
            value="Text"
            disabled
          />
          <label for="floatingInputValue">Title</label>
          <span><i class="fa fa-microphone"></i></span>
        </div>
      </div>
    </div>

    <!--------------------------------Readonly---------------------------->
    <div class="d-flex-column text-area">
      <label for="exampleFormControlTextarea1" class="form-label">Readonly</label>
      <div class="d-flex">
        <div class="form form-floating">
          <input
            type="email"
            class="form-control form-input"
            id="floatingInputValue"
            placeholder="Text"
            value="Text"
            readonly
          />
          <label for="floatingInputValue">Title</label>
          <span><i class="fa fa-microphone"></i></span>
        </div>
      </div>
    </div>
  <!-- </div> -->

  <!--------------------------------Success---------------------------->
  <!-- <div class="d-flex flex-wrap"> -->
    <div class="d-flex-column text-area">
      <label for="SuccesTextArea" class="form-label">Success</label>
      <div class="d-flex">
        <div class="form form-floating">
          <input
            type="text"
            class="form-control is-valid"
            id="validationServer01"
            placeholder="Text"
            value="Text"
            required
          />
          <label for="floatingInputValue">Title</label>
          <div class="valid-feedback">Looks good!</div>
          <span class="bg-white"><i class="fa fa-microphone"></i></span>
        </div>
      </div>
    </div>

    <!--------------------------------Validation---------------------------->
    <div class="d-flex-column text-area">
        <label for="validationTextarea" class="form-label">Validation</label>
        <div class="d-flex">
            <div class="form form-floating">
              <input
                type="text"
                class="form-control is-invalid"
                id="floatingInputInvalid"
                placeholder="Text"
                value="Text"
                required
              />
              <label for="floatingInputValue">Title</label>
              <div id="validationServer05Feedback" class="invalid-feedback">
                Please provide a valid text.
              </div>
              <span class="bg-white"><i class="fa fa-microphone"></i></span>
            </div>
          </div>
  </div>
</div>


