<div class="offers">
    <h5>Deals That Will <strong> Interest You</strong></h5>
<div class="offer-container">
    <div class="d-flex-column">
        <div class="brand-img"> 
        </div>
        <p>GET 100% CASHBACK ON YOUR EVERY PURCHASE FROM PAYED</p>
    </div>

    <div class=" d-flex-column img2">
        <div class="brand-img2"> 
        </div>
        <p>GET 30% OFF WITH AXIS BANK CREDIT AND DEBIT CARDS</p>
    </div>

    <div class="d-flex-column img3">
        <div class="brand-img3"> 
        </div>
        <p>FLAT 70% OFF ON ONLINE LEARNING MONTHLY SUBSCRIPTION</p>
    </div>
</div>

<div class="view-all">
    <app-view-all-button></app-view-all-button>
</div>

</div>


