<!-- ---------------------------------Primary-colors--------------- -->
<h5 class="border-bottom border-2 border-gray pb-3">Primary Colors</h5>
<div class="d-flex-cloumn flex-wrap ">
  <div class="d-flex flex-wrap px-4 ">
    <div class="d-flex-column align-items-center justify-content-between">
        <div class="square-box p-blue"></div>
        <p>#003366</p>
        <p>Blue Color</p>
    </div>
        <div class="d-flex-column align-items-center justify-content-between">
        <div class="square-box p-yellow"></div>
        <p>#FBAD18</p>
        <p>Gold Yellow Color</p>  
    </div>
  </div>
  <div class="d-flex flex-wrap px-4 ">
    <div class="d-flex-column align-items-center justify-content-between">
      <div class="square-box p-deep-blue"></div>
      <p>#001933</p>
      <p>Deep Blue</p>  
  </div>

  <div class="d-flex-column align-items-center justify-content-between">
    <div class="square-box p-space-gray"></div>
    <p>#414141</p>
    <p>Charcoal Grey</p>  
</div>

<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box p-gray-3"></div>
  <p>#8D8D8D</p>
  <p>Medium Grey</p>  
</div>

<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box p-gray-2"></div>
  <p>#D9D9D9</p>
  <p>Light Grey</p>  
</div>

<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box p-gray-1"></div>
  <p>#F2F2F2</p>
  <p>Anti Flash White</p>  
</div>  
  </div>
</div>


<!-- ---------------------------------Secondary-colors----------------->
<h5 class="border-bottom border-2 border-gray pb-3">Secondary Colors</h5>
<div class="d-flex-column flex-wrap">
  <div class="d-flex flex-wrap gx-4">
  <div class="d-flex-column align-items-center justify-content-between">
    <div class="square-box s-dark-orange"></div>
    <p>#F77F00</p>
    <p>Dark Orange</p>
</div>

<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box s-light-orange"></div>
  <p>#F8A75C</p>
  <p>Light Orange</p>
</div>

<div class="d-flex-column align-items-center justify-content-between me-3">
  <div class="square-box s-rusty-orange"></div>
  <p>#C45D1C</p>
  <p>Rusty Orange</p>
</div>



<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box s-rusty-red"></div>
  <p>#DB324D</p>
  <p>Rusty Red</p>
</div>

<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box s-rosy-pink"></div>
  <p>#E87080</p>
  <p>Rosy Pink</p>
</div>



<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box s-vivid-burgundy"></div>
  <p>#AA2137</p>
  <p>Vivid Burgundy</p>
</div>
  </div>

  <div class="d-flex flex-wrap gx-4">
<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box s-fountain-blue"></div>
  <p>#49AFBE</p>
  <p>Fountain Blue</p>
</div>

<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box s-seafoam-blue"></div>
  <p>#7DC9D4</p>
  <p>Seafoam Blue</p>
</div>

<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box s-turtle-green"></div>
  <p>#388590</p>
  <p>Sea Turtle Green</p>
</div>

<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box s-salad-green"></div>
  <p>#B3C344</p>
  <p>Salad Green</p>
</div>

<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box s-chinese-green"></div>
  <p>#CCD570</p>
  <p>Chinese Green</p>
</div>

<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box s-old-moss-green"></div>
  <p>#869231</p>
  <p>Old Moss Green</p>
</div>
  </div>
</div>


<!-- ---------------------------------Status-colors--------------- -->
<h5 class="border-bottom border-2 border-gray pb-3">Status Colors</h5>
<div class="d-flex flex-wrap px-4 ">
  <div class="d-flex-column align-items-center justify-content-between">
    <div class="square-box validation"></div>
    <p>#FFB82E</p>
    <p>Validation</p>  
</div>

<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box error"></div>
  <p>#F93232</p>
  <p>Error</p>  
</div>

<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box success"></div>
  <p>#439F6E</p>
  <p>Success</p>  
</div>

<div class="d-flex-column align-items-center justify-content-between">
  <div class="square-box information"></div>
  <p>#00A3FF</p>
  <p>Information</p>  
</div>
  </div>

  <!-- ---------------------------------Gradient-colors--------------- -->
  <h5 class="border-bottom border-2 border-gray pb-3">Gradient Colors</h5>
  <div class="d-flex flex-wrap px-4">
    <div class="d-flex-column align-items-center justify-content-between">
      <div class="rectangle-box g-red-orange"></div>
      <div class="d-flex justify-content-between ">
      <p>#FA3A0A</p>
      <p>#F77F00</p>
    </div>  
  </div>

  <div class="d-flex-column align-items-center justify-content-between">
    <div class="rectangle-box g-green-light-blue"></div>
    <div class="d-flex justify-content-between">
    <p>#B3C344</p>
    <p>#49AFBE</p> 
  </div> 
</div> 

<div class="d-flex-column align-items-center justify-content-between">
  <div class="rectangle-box g-dark-blue-light-blue"></div>
  <div class="d-flex justify-content-between">
  <p>#003366</p>
  <p>#49AFBE</p>  
</div>
</div> 
  </div>

