            <app-typography></app-typography>
            <!-- <app-forms></app-forms>  -->

          <app-colors></app-colors>
             <app-buttons></app-buttons>
          <app-check-box></app-check-box>
           <app-radio-button></app-radio-button>
             <app-toggle-switch></app-toggle-switch>
             <app-input-form></app-input-form>
             <app-input-icon></app-input-icon>
             <app-input-title></app-input-title>
             <app-input-title-icon></app-input-title-icon>
             <app-input-password></app-input-password>
           <!-- <app-drop-down></app-drop-down> -->
           
            <!--     <app-forms></app-forms> -->
           
 
