<div class="d-flex-column mx-3">
  <h5><strong>Open</strong> Access</h5>
  <h6 >Quick reads on personal finance </h6>
  <div class="d-flex border-0 border-bottom border-3-gray my-2">
    <img src="./assets/images/personal-loan.png" alt="Personal Laon" />
    <div class=" readmore">
      <p>Choose a personal loan interest rate that fits your pocket</p>
      <span class="readmore-right"><a href="javascriptvoid(0)">Read More</a></span>
    </div>
  </div>


  <div class="d-flex  border-0 border-bottom border-3-gray my-2 px-2 ">
    <div class=" readmore">
      <p>Choose a personal loan interest rate that fits your pocket</p>
      <span class="readmore-left"><a href="javascriptvoid(0)">Read More</a></span>
    </div>
    <img src="./assets/images/savings-account-offers.png" alt="Personal Laon" />
  </div>

  <div class="d-flex my-2 border-0 border-bottom border-3-gray ">
    <img src="./assets/images/sole-proprietor.png" alt="Personal Laon" />
    <div class=" readmore">
      <p>Choose a personal loan interest rate that fits your pocket</p>
      <span class="readmore-right"><a href="javascriptvoid(0)">Read More</a></span>
    </div>
  </div>
</div>

<div class="readmore-bottom">
    <a class="btn btn-primary btn-sm" href="javascriptvoid(0)" role="button">Read More</a>
</div>
