<nav class="navbar flex-wrap  justify-content-center">

        <ul class="nav flex-wrap left-margin me-5 align-items-center">
            <li class="nav-item active">
                <a class="nav-link " aria-current="page" href="javascriptvoid(0)">Personal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascriptvoid(0)">Business</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="dashboard">Cnx-Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascriptvoid(0)">NRI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascriptvoid(0)">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascriptvoid(0)">Support</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascriptvoid(0)">Dil se open</a>
            </li>
        </ul>

        <ul class="nav align-items-center fonts">
            <li class="nav-item ms-2 me-4">
                <div class="btn-group">
                    <button class="btn  btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        English
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">Hindi</a></li>
                        <li><a class="dropdown-item" href="#">Telugu</a></li>
                        <li><a class="dropdown-item" href="#">Marathi</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item me-3">
                <span><i class="fa-brands fa-whatsapp"></i></span>
            </li>
            <li class="nav-item me-3">
                <span><i class="fa fa-magnifying-glass"></i></span>
            </li>
            <li  class="nav-item me-3">
               <span><i class="fa fa-location-dot"></i></span> 
            </li>
            <li  class="nav-item me-3">
                <span><i class="fa fa-percent"></i></span>
            </li>
            <li  class="nav-item me-3">
               <span> <i class="fa-regular fa-bell"></i></span>
            </li>
        </ul>

</nav>