.d-flex{
    padding: 40px;
    // border-top: 1px solid black;
}
// .heading .d-flex-column{
//     // padding: 40px;
//     border-top: 1px solid black;
// }

p{
   text-align: end;
//    padding: 0 30px 0;
   margin: 0px;
}