<div class="d-flex-column">
    <h5><strong>Products </strong> to meet your life goals</h5>
    <div class="d-flex justify-content-around align-items-center">
        <div class="products-box  justify-content-center">
            <!-- <i data-feather="dollar-sign" class="icon"></i> -->
            <!-- <span>  <i class="fa fa-dollar"></i></span> -->
            <mat-icon> attach_money</mat-icon>

            <p>Digital Savings Account</p>
        </div>
        <div class="products-box">
            <!-- <span>   <i data-feather="shield" class="icon"></i></span> -->
            <!-- <span><i class="fa fa-shield"></i></span> -->
            <mat-icon>security</mat-icon>

            <p>Express FD</p>
        </div>

        <div class="products-box">
            <!-- <i data-feather="credit-card" class="icon"></i> -->

            <mat-icon>work_outline</mat-icon>
            <p>Credit Cards</p>
        </div>
        <div class="products-box">
            <!-- <span><i data-feather="briefcase" class="icon"></i></span> -->
            <!-- <span><i class="fa fa-briefcase"></i></span> -->
            <mat-icon>lock_open</mat-icon>
            <p>Personal Loan</p>
        </div>
    </div>
</div>




<!-- <span>   <mat-icon>exit_to_app</mat-icon></span>
<mat-icon>work_outline</mat-icon>
<mat-icon>work_outline</mat-icon>

<mat-icon> attach_money</mat-icon>
<mat-icon> monetization_on</mat-icon>
<mat-icon>security</mat-icon> -->