<div class="carousel-container ">
    <div class="d-flex-column  border border-2-red mx-5 ">
    <app-carousel></app-carousel>
    <div class="d-flex ">
        <p>Mutual Funds</p>
        <p>NRI Homecoming</p>
        <p>24x7 Personal Loans</p>
    </div>
</div>
<div class="d-flex-column border-0 border-bottom border-2-red ">
    <div class="container-header">
    <h5><strong>My</strong> Offers</h5>
    <span><mat-icon>keyboard_arrow_right</mat-icon></span>
</div>
    <app-card-carousel></app-card-carousel>
</div>

</div>
