

#sidebar-nav {
    width: 250px;
    padding: 20px;
}

main{
   background-color:  #ECECF3;
   height: 100vh;
}

.accordion-header{
    padding: 0px;
    margin: 0px;
}
.accordion h2{
    padding: 0px;
    margin: 0px;
}
.accordion-button {
    padding: 10px;
    border: none;
}
.accordion-item{
    border: none;
    
}
