<h5 class="border-bottom border-2 border-gray pb-3">Form Field</h5>
<div class="d-flex-column flex-wrap input1 border-bottom border-2 border-gray pb-5 pe-5 me-5">
  <div class="d-flex flex-wrap">
    <h6 class="input">Input</h6>
    <h6 class="input-icon">Input + Icon</h6>
  </div>

  <!------------------------Inactive-Input--------------------->
  <div class="d-flex flex-wrap align-items-center">
    <p>inactive</p>
    <input type="text" class="form-control" placeholder="Text" />
    <div class="input-group">
      <input
        type="text"
        class="form-control "
        placeholder="Text"
      />
      <span class="bg-white calender">  <i class="fa-regular fa-calendar"></i></span>
      <!-- <button class="input-group-text bg-white border-start-0 border">
        <i class="fa fa-calendar"></i>
      </button> -->
    </div>
  </div>

  <!------------------------Disabled-Input--------------------->
  <div class="d-flex flex-wrap align-items-center">
    <p>Disabled</p>
    <input type="text" class="form-control" placeholder="Text" disabled />
    <div class="input-group">
      <input
        type="text"
        class="form-control "
        placeholder="Text"
        disabled
      />
      <span class=" calender">  <i class="fa-regular fa-calendar"></i></span>
      <!-- <button class="input-group-text border-start-0 border disabled" disabled>
        <i class="fa fa-calendar"></i>
      </button> -->
    </div>
  </div>

  <!------------------------ReadOnly-Input--------------------->
  <div class="d-flex flex-wrap align-items-center">
    <p>Readonly</p>
    <input type="text" class="form-control" placeholder="Text" readonly />
    <div class="input-group">
      <input
        type="text"
        class="form-control "
        placeholder="Text"
        readonly
      />
      <span class="bg-white calender">  <i class="fa-regular fa-calendar"></i></span>
      <!-- <button
        class="input-group-text bg-white border-start-0 border readonly"
        readonly
      >
        <i class="fa fa-calendar"></i>
      </button> -->
    </div>
  </div>

  <!------------------------Success-Input--------------------->
  <div class="d-flex flex-wrap align-items-center">
    <p>Success</p>
    <div class="d-flex-column">
      <input
        type="text"
        class="form-control is-valid"
        id="validationServer01"
        placeholder="Text"
        value=""
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>

    <div class="d-flex">
      <div class="form-icon ">
        <input
          type="text"
          class="form-control is-valid"
          id="validationServer01"
          placeholder="Text"
          value=""
          required
        />
        <!-- <label for="floatingInputValue">Title</label> -->
        <div class="valid-feedback">Looks good!</div>
        <span class="bg-white calender">  <i class="fa-regular fa-calendar"></i></span>
      
      </div>
    </div>
      </div>
   

  <!------------------------Validation-Input--------------------->
  <div class="d-flex flex-wrap align-items-center">
    <p>Validation</p>
    <div class="d-flex-column">
      <input
        type="text"
        class="form-control is-invalid"
        id="validationServer05Feedback"
        placeholder="Text"
        value=""
        required
      />
      <div id="validationServer05Feedback" class="invalid-feedback">
        Please provide a valid text.
      </div>
    </div>

    <div class="d-flex">
      <div class="form-icon ">
        <input
          type="text"
          class="form-control is-invalid"
          id="validationServer05Feedback"
          placeholder="Text"
          value=""
          required
        />
        <!-- <label for="floatingInputValue">Title</label> -->
        <div id="validationServer05Feedback" class="invalid-feedback">
          Please provide a valid text.
        </div>
        <span class="bg-white calender">  <i class="fa-regular fa-calendar"></i></span>
      
      </div>
    </div>

    <!-- <div class="d-flex-column align-self-start">
      <div class="input-group">
        <input
          type="text"
          class="form-control is-invalid"
          id="validationServer05Feedback"
          placeholder="Text"
          value=""
          required
        /> -->
        <!-- <button class="input-group-text bg-danger border-start-0 border">
          <i class="fa fa-calendar"></i>
        </button> -->
        <!-- <div id="validationServer05Feedback" class="invalid-feedback">
          Please provide a valid text.
        </div>
        <span class="bg-white calender">  <i class="fa-regular fa-calendar"></i></span>
      </div>
    </div> -->
  </div>
</div>

<!-- -------------------------Input + Title--------------------------------- -->
<div class="d-flex-column  border-bottom border-2 border-gray pb-4 pe-5 me-5">
  <div class="d-flex title-input flex-wrap">
    <h6 class="input-title">Input + Title</h6>
    <h6 class="input-title-icon">Input + Title + Icon</h6>
  </div>

  <!------------------------Inactive-Input--------------------->
  <div class="d-flex flex-wrap align-items-center">
    <p>inactive</p>
    <form class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInputValue"
        placeholder="Text"
        value="Text"
      />
      <label for="floatingInputValue">Title</label>
    </form>

    <div class="d-flex">
      <div class="form form-floating">
        <input
          type="email"
          class="form-control form-input"
          id="floatingInputValue"
          placeholder="Text"
          value="Text"
        />
        <label for="floatingInputValue">Title</label>
        <span><i class="fa fa-microphone"></i></span>
      </div>
    </div>
  </div>

  <!------------------------Disabled-Input--------------------->
  <div class="d-flex flex-wrap align-items-center">
    <p>Disabled</p>
    <form class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInputValue"
        placeholder="Text"
        value="Text"
        disabled
      />
      <label for="floatingInputValue">Title</label>
    </form>

    <div class="d-flex">
      <div class="form form-floating">
        <input
          type="email"
          class="form-control form-input"
          id="floatingInputValue"
          placeholder="Text"
          value="Text"
          disabled
        />
        <label for="floatingInputValue">Title</label>
        <span><i class="fa fa-microphone"></i></span>
      </div>
    </div>
  </div>

  <!------------------------ReadOnly-Input--------------------->
  <div class="d-flex flex-wrap align-items-center">
    <p>Readonly</p>
    <form class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInputValue"
        placeholder="Text"
        value="Text"
        readonly
      />
      <label for="floatingInputValue">Title</label>
    </form>

    <div class="d-flex">
      <div class="form form-floating">
        <input
          type="email"
          class="form-control form-input"
          id="floatingInputValue"
          placeholder="Text"
          value="Text"
          readonly
        />
        <label for="floatingInputValue">Title</label>
        <span><i class="fa fa-microphone"></i></span>
      </div>
    </div>
  </div>

  <!------------------------Validation-Input--------------------->
  <div class="d-flex flex-wrap align-items-center">
    <p>Validation</p>
    <form class="form-floating">
      <input
        type="text"
        class="form-control is-invalid"
        id="floatingInputInvalid"
        placeholder="Text"
        value="Text"
        required
      />
      <label for="floatingInputInvalid">Title</label>
      <div id="validationServer05Feedback" class="invalid-feedback">
        Please provide a valid text.
      </div>
    </form>

    <div class="d-flex">
      <div class="form form-floating">
        <input
          type="text"
          class="form-control is-invalid"
          id="floatingInputInvalid"
          placeholder="Text"
          value="Text"
          required
        />
        <label for="floatingInputValue">Title</label>
        <div id="validationServer05Feedback" class="invalid-feedback">
          Please provide a valid text.
        </div>
        <span class="bg-white"><i class="fa fa-microphone"></i></span>
      </div>
    </div>
  </div>

  <!------------------------Success-Input--------------------->
  <div class="d-flex flex-wrap align-items-center">
    <p>Success</p>
    <form class="form-floating">
      <input
        type="text"
        class="form-control is-valid"
        id="validationServer01"
        placeholder="Text"
        value="Text"
        required
      />
      <label for="floatingInputValue">Title</label>
      <div class="valid-feedback">Looks good!</div>
    </form>

    <div class="d-flex">
      <div class="form form-floating">
        <input
          type="text"
          class="form-control is-valid"
          id="validationServer01"
          placeholder="Text"
          value="Text"
          required
        />
        <label for="floatingInputValue">Title</label>
        <div class="valid-feedback">Looks good!</div>
        <span class="bg-white"><i class="fa fa-microphone"></i></span>
      </div>
    </div>
  </div>
</div>




<!---------------------------Input Password----------------------------------->
<div class="d-flex-column  border-bottom border-2 border-gray pb-4 px-4 me-5" >
  <h6 class="input-password">Input Password</h6>
  <div class="d-flex flex-wrap ">

    <!--------------------------Default----------------------------->
    <div class="d-flex-column flex-wrap me-5  ms-2 mb-3 ">
    <label for="inputPassword2"  class="form-label label">Default</label>
      <form class="form-floating " >
        
        <input
        type="password"
          class="form-control"
          id="inputPassword2"
          placeholder="Password"
          value="......"
         
        />
        <label for="floatingInputValue">Title</label>
      </form>
    </div>

        <!--------------------------Disaled----------------------------->
        <div class="d-flex-column flex-wrap">
        <label for="inputPassword2"  class="form-label label"> Disabled</label>
      <form class="form-floating">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input
        type="password"
          class="form-control"
          id="inputPassword2"
          placeholder="Password"
          value="......" disabled
         
        />
        <label for="floatingInputValue">Title</label>
      </form>
    </div>
</div>

<div class="d-flex flex-wrap ">

    <!--------------------------Validation----------------------------->
    <div class="d-flex-column  me-5 ms-2 ">
    <label for="inputPassword2"  class="form-label label"> Validation</label>
  <form class="form-floating">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input
    type="password"
      class="form-control is-invalid"
      id="inputPassword2"
      placeholder="Password"
      value="......"   required
     
    />
    <label for="floatingInputValue">Title</label>
    <div id="validationServer05Feedback" class="invalid-feedback">
      Please provide a valid text.
    </div>
  </form>
</div>

    <!--------------------------Success----------------------------->
    <div class="d-flex-column ">
    <label for="inputPassword2" class="form-label label "> Success</label>
  <form class="form-floating">
    <input
    type="password"
      class="form-control is-valid"
      id="inputPassword2"
      placeholder="Password"
      value="......"    required
     
    />
    <label for="floatingInputValue">Title</label>
    <div class="valid-feedback">Looks good!</div>
  </form>
</div>
</div>
</div>



<!-- -----------------------------Text Area---------------------- -->
<app-text-area></app-text-area>

<app-select></app-select>
