<swiper class="mySwiper">
    <ng-template swiperSlide>
        <a href="javascriptvoid(0)">
            <img src="./assets/images/nri-homecoming-banner.png" alt="axis bank mf banner" /></a>
    </ng-template><ng-template swiperSlide>
        <a href="javascriptvoid(0)">
            <img src="./assets/images/fixed-deposit-banner.png" alt="axis bank mf banner" /></a>
    </ng-template><ng-template swiperSlide>
        <a href="javascriptvoid(0)">
            <img src="./assets/images/digital-savings-account-banner.png" alt="axis bank mf banner" /></a>
    </ng-template>
</swiper>