<div class="d-flex-column border-bottom border-2 border-gray pb-4 px-4 me-5 mt-4">
    <h6 class="input">Select</h6>
    <div class="d-flex">
        <div class="d-flex-column text-area">

    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
        </div>

        <div class="d-flex-column text-area">
      <select class="form-select" aria-label="Disabled select example" disabled>
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
        </div>
    </div>

    <div class="d-flex pb-3">
        <div class="d-flex-column text-area">
            <label for="validationServer04" class="form-label visually-hidden">State</label>
            <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>
              <option selected disabled value="">Open this select menu</option>
              <option>...</option>
            </select>
            <div id="validationServer04Feedback" class="invalid-feedback">
              Please select a valid state.
            </div>
    </div>

    <div class="d-flex-column text-area">
        <label for="validationServer04" class="form-label visually-hidden">State</label>
        <select class="form-select is-valid" id="validationServer04" aria-describedby="validationServer04Feedback" required>
          <option selected disabled value="">Open this select menu</option>
          <option>...</option>
        </select>
        <div id="validationServer04Feedback" class="valid-feedback">
         Looks Good.
        </div>
</div>
</div>


