<h5 class="border-bottom border-2 border-gray pb-3">Check Box</h5>
<div class="d-flex flex-wrap align-content-around justify-content-between my-3">
    <!-- -------------------checkBox-square-nolable------------- -->
    <div class="d-flex-column">
        <div>
            <input class="form-check-input " type="checkbox" id="checkboxNoLabel" value="" aria-label="..." />
        </div>

        <div>
            <input class="form-check-input" type="checkbox" id="flexCheckChecked" checked value="" aria-label="..." />
        </div>
    </div>

    <!-- -------------------checkBox-circle-nolable------------- -->
    <div class="d-flex-column">
        <div>
            <input class="form-check-input rounded-circle" type="checkbox" id="checkboxNoLabel" value=""
                aria-label="..." />
        </div>

        <div>
            <input class="form-check-input rounded-circle" type="checkbox" id="flexCheckChecked" checked value=""
                aria-label="..." />
        </div>
    </div>

    <!-- -------------------checkBox-Disabled-nolable------------- -->
    <div class="d-flex-column">
        <div>
            <input class="form-check-input rounded-circle " type="checkbox" id="flexCheckCheckedDisabled" disabled value=""
                aria-label="..." />
        </div>

        <div>
            <input class="form-check-input " type="checkbox" id="flexCheckCheckedDisabled" disabled
                value="" aria-label="..." />
        </div>
    </div>



    <!-- -------------------checkBox-square------------- -->
    <div class="d-flex-column">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
            <label class="form-check-label" for="defaultCheck1">
                Default 
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Checked
            </label>
        </div>

    </div>

    <!-- -------------------Disabled-checkBox-square------------- -->
    <div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled />
            <label class="form-check-label" for="defaultCheck2">
                Disabled 
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
            <label class="form-check-label" for="flexCheckCheckedDisabled">
                Disabled checked 
            </label>
        </div>

    </div>

      <!-- -------------------checkBox-circle------------- -->
      <div class="d-flex-column">
        <div class="form-check">
            <input class="form-check-input rounded-circle" type="checkbox" value="" id="defaultCheck1" />
            <label class="form-check-label" for="defaultCheck1">
                Default 
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input rounded-circle" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Checked 
            </label>
        </div>

    </div>

    <!-- -------------------Disabled-checkBox-circle------------- -->
    <div>
        <div class="form-check">
            <input class="form-check-input rounded-circle" type="checkbox" value="" id="defaultCheck2" disabled />
            <label class="form-check-label" for="defaultCheck2">
                Disabled 
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input rounded-circle" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
            <label class="form-check-label" for="flexCheckCheckedDisabled">
                Disabled checked 
            </label>
        </div>

    </div>


</div>