<div class="d-flex-column">
    <h6><strong>CONTACT US</strong></h6>
    <p>
      Call: 1800-419-5959 SMS BAL to 56161600 or +918691000002 to get your
      Account Balance
    </p>

    <p>
      Call: 1800-419-6969 SMS MINI to 56161600 or +918691000002 to get your Mini
      Statement
    </p>
    <a href="javascriptvoid(0)">Find your Nearest Branch</a>
    <a href="javascriptvoid(0)">Axis Bank Customer Support</a>
    <a href="javascriptvoid(0)">Banking Ombudsman Scheme, 2006</a>
    <a href="javascriptvoid(0)">Comprehensive Notice Board</a>
    <a href="javascriptvoid(0)">Aadhaar Enrolment Centres</a>
    <a href="javascriptvoid(0)">Aadhaar Enrolment Centres</a>
    <a href="javascriptvoid(0)">Axis Bank Customer Support</a>
    <a href="javascriptvoid(0)">CDSL/NSDL Investor Grievance Escalation Matrix</a>
    <a href="javascriptvoid(0)">Beneficial Owner FAQ</a>
 

  </div>
