@import './src/scss/theme/colors.scss';

.sidebar-container{
    background-color:$white ;
}
#sidebar-nav {
    width: 250px;
    padding: 20px;
}

main{
//    background-color:  #ECECF3;
background-color: $main-section;
 //  height: 100vh;
}


.card{
    // width: 95%;
    // // height: 100vh;
    // margin: 30px 0px 0px 20px;
    margin: auto;
}

// .card-body{
//     min-width: 960px;
// }

// .flex-nowrap {
//     height: 100vh;
// }
@media screen and (max-width: 810px) {
    .col-auto{
        display: none;
    }
  }
