<!-- <a href="#"  class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i> Menu</a> -->
<div class="container-fluid sidebar-container border-top border-2 border-gray ">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal hide ">
                <div id="sidebar-nav" class="list-group   text-sm-start min-vh-100">

                    <app-sidebar-menu></app-sidebar-menu>

                    <!-- <div class="accordion" id="accordionExample">
                        <div class="accordion-item ">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="fa fa-list p-2"></i> Item #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul >
                                        <li>Action</li>
                                        <li>Action</li>
                                        <li>Action</li>
                                      
                                      </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
        <main class="col ps-md-2 pt-2">
            <div class="card">
                <div class="card-body">
                    <app-main-section></app-main-section>
                                      
                </div>
            </div>
        </main>
    </div>
</div>
