<nav class=" d-flex container-fluid flex-wrap bg border border-bottom border-5-gray ">
    <div class="logo">
        <img src="./assets/images/cnx-logo-white.png" alt="CNX-LOGO" class="cnx-logo ">
        <img src="./assets/images/menucurve.png" alt="menu-curve" >
    </div>
    <ul class="nav flex-wrap left-margin  align-items-center ">
       <li>
        <div class="dropdown">
            <button class="dropbtn">Explore Products</button>
            <div class="dropdown-content">
                <div class="d-flex-row">
                <div class="d-flex-column">
                    <a href="javascriptvoid(0)">Salary Accounts</a>
                    <a href="javascriptvoid(0)">Fixed Account</a>
                    <a href="javascriptvoid(0)">Saving Accounts</a>
                    </div>                
                </div>
                
            </div>
          </div>
       </li>
       <li>
        <div class="dropdown">
            <button class="dropbtn">Grab Deals</button>
            <div class="dropdown-content">
                <a href="javascriptvoid(0)">Amazon</a>
                <a href="javascriptvoid(0)">Flipkart</a>
                <a href="javascriptvoid(0)">Myntra</a>
            </div>
          </div>
       </li>
       <li>
        <div class="dropdown">
            <button class="dropbtn">Make Payments</button>
            <div class="dropdown-content">
                <a href="javascriptvoid(0)">Link 1</a>
                <a href="javascriptvoid(0)">Link 2</a>
                <a href="javascriptvoid(0)">Link 3</a>
            </div>
          </div>
       </li>
       <li>
        <div class="dropdown">
            <button class="dropbtn">Bank Smart</button>
            <div class="dropdown-content">
                <a href="javascriptvoid(0)">Link 1</a>
                <a href="javascriptvoid(0)">Link 2</a>
                <a href="javascriptvoid(0)">Link 3</a>
            </div>
          </div>
       </li>
       <li>
        <div class="dropdown">
            <button class="dropbtn">Apply Now</button>
            <div class="dropdown-content">
              <a href="javascriptvoid(0)">Link 1</a>
              <a href="javascriptvoid(0)">Link 2</a>
              <a href="javascriptvoid(0)">Link 3</a>
            </div>
          </div>
       </li>
    </ul>

    <ul class="nav flex-wrap left-margin me-3 align-items-center ">
        <li>
            <a class="apply-loan me-3 ms-3"  href="javascriptvoid(0)">Personal Loan</a>
        </li>
        <li>
            <a class="btn px-4" href="javascriptvoid(0)" role="button">LOGIN</a>
        </li>
    </ul>

    

</nav>


  