<h5 class="border-bottom border-2 border-gray pb-3">Dropdown</h5>
<div
  class="d-flex-column flex-wrap align-content-around justify-content-between"
>
  <!-- <h6>Types</h6> -->
  <div class="d-flex align-items-center">
    <!-- Example single danger button -->
    <!-- -----------------------------Button- Primary------------------ -->
    <div class="dropdown button">
      <button
        class="btn btn-primary dropdown-toggle me-3 my-3"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Primary
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

    <!-- ---------------------------Secondary---------------------------- -->

    <div class="dropdown button">
      <button
        class="btn btn-secondary dropdown-toggle me-3 my-3"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Secondary
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <!-- ---------------------------Success---------------------------- -->
    <div class="dropdown button">
      <button
        class="btn btn-success dropdown-toggle text-white me-3 my-3"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Success
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

    <!-- ---------------------------Warning---------------------------- -->
    <div class="dropdown button">
      <button
        class="btn btn-warning dropdown-toggle text-white me-3 my-3"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Warning
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>




    <!-- ---------------------------Error---------------------------- -->
    <div class="dropdown button">
      <button
        class="btn btn-danger dropdown-toggle text-white me-3 my-3"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Danger
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
</div>

<div class="d-flex align-items-center">
    <!-- ---------------------------Information---------------------------- -->
    <div class="dropdown button">
      <button
        class="btn btn-info dropdown-toggle text-white me-3 my-3"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Information
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

    <!-- ---------------------------Light---------------------------- -->
    <div class="dropdown button">
      <button
        class="btn btn-light dropdown-toggle me-3 my-3"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Light
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

    <!-- ---------------------------Dark---------------------------- -->
    <div class="dropdown button">
      <button
        class="btn btn-dark dropdown-toggle me-3 my-3"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Dark
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

    <!-- -----------------------------Drpdown-link------------------ -->
    <div class="dropdown button">
      <a
        class="btn btn-secondary dropdown-toggle me-3 my-3"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Dropdown link
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

    <!-------------------- Example split danger button--------------------- -->
    <div class="btn-group button me-3 my-3">
      <button type="button" class="btn btn-secondary">Action</button>
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <!-- <h6>Size</h6> -->
    <!-------------------- Button Large--------------------- -->
    <div class="btn-group button ">
      <button
        class="btn btn-secondary btn-lg dropdown-toggle me-3 my-3"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Large button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

    <!-------------------- Button Default--------------------- -->
    <div class="btn-group button">
      <button
        class="btn btn-secondary dropdown-toggle me-3 my-3"
        type="button"
        id="dropdownMenuClickable"
        data-bs-toggle="dropdown"
        data-bs-auto-close="false"
        aria-expanded="false"
      >
        Default
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickable">
        <li><a class="dropdown-item" href="#">Menu item</a></li>
        <li><a class="dropdown-item" href="#">Menu item</a></li>
        <li><a class="dropdown-item" href="#">Menu item</a></li>
      </ul>
    </div>

    <!-------------------- Button Small--------------------- -->
    <div class="btn-group button">
      <button
        class="btn btn-secondary btn-sm dropdown-toggle me-3 my-3"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Small button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
 

  
  <!-- <div class="d-flex align-items-center"> -->
    <!-- <h6>Drop-item</h6> -->
    <!----------------------------- Up dropup button--------------- -->
    <div class="btn-group dropup button ">
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle me-3 my-3"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Dropup
      </button>
      <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
</div>

<div class="d-flex align-items-center">
    <!-- -----------------------------------------Drop Right-------------------- -->
    <div class="btn-group dropend button">
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle me-3 my-3"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Dropright
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

    <!-- -----------------------------------------Drop Left-------------------- -->
    <div class="btn-group dropstart button">
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle me-3 my-3"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Dropstart
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
      </ul>
    </div>

    <!-- -----------------------Drop down-------------------- -->
    <div class="dropdown button">
      <button
        class="btn btn-secondary dropdown-toggle me-3 my-3"
        type="button"
        id="dropdownMenu2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Dropdown
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button">Action</button></li>
        <li>
          <button class="dropdown-item" type="button">Another action</button>
        </li>
        <li>
          <button class="dropdown-item" type="button">
            Something else here
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
