@import './scss/theme/colors.scss';
@import './scss/theme/dark.scss';
@import './scss/theme/light.scss';
@import './scss/mixins/typography.scss';
@import './scss/variables/typography.scss';
@import './scss/variables/buttons.scss';
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
html,
body {
    height: 100%;
   // font-family: 
   margin: 0px;
   font-family: 'Montserrat' !important;
//    background-color:  #ECECF3;
}

@import 'bootstrap/scss/bootstrap';