@use '../theme/colors.scss';
@import 'bootstrap/scss/bootstrap';


.form-check-input {
    border: 1px solid colors.$primary-blue;
    // box-shadow: 10px yellow;
}

label {
    font-size: 14px;
}

.form-check-input:checked {
    // background-color: #3e5d8b;
    background-color: colors.$primary-blue;
    // border: 2px solid green;

}

.form-check-input:focus {
    border: 2px solid colors.$primary-yellow;

}

.form-check-input:disabled {
    background-color: colors.$primary-gray-3;

}

.form-check-input:checked:disabled {
    // background-color: #3e5d8b;
    background-color: colors.$primary-gray-2;
    color: colors.$primary-space-gray;
    // border: 2px solid green;

}

// .form-check-input:active{
//     // background-color: #c8195f;
//     // border: 1px solid red;
//     box-shadow: 10px yellow !important;
// }

// .form-check-input[_ngcontent-vfb-c28]:checked {
//     background-color: #d4e333 !important;
//     border-color: #0d6efd;
// }

// @import 'bootstrap/scss/bootstrap'