  /* spacing values */
  $space-xxxs: 8px;
  $space-xxs:  16px;
  $space-xs:   24px;
  $space-sm:   32px;
  $space-md:   40px;
  $space-lg:   48px;
  $space-xl:   56px;
  $space-xxl:  64px;
  $space-xxxl: 80px;
  $space-xxxxl: 120px;

  //---letter-spacings----------
  // $letter-spacing: (
  //   1: -1.5px,
  //   2: -0.5px,
  //   3: 0px,
  //   4: 0.25px,
  //   5: 0.5px,
  //   6: 0.15px,
  //   7: 0.1px,
  //   8: 1.25px,
  //   9: 0.4px,
  //   10: 2px,
  // );

  @import 'bootstrap/scss/bootstrap'

  